# environment files
*.env
.env.*

# ssl certificates
certs/

# single page routing logic
single_page_routing/

# data file
*.csv
*.tsv
*.json

# jupyter notebooks used to manipulate data
*.ipynb

# vscode settings
.vscode
.vscode/*

# python cache
__pycache__/
*.pyc
app/**/*.pyc

# test output
*/tests/output/
