@import url('https://fonts.cdnfonts.com/css/inter');

:root {
    --primary-color: #004EA3;
    --secondary-color: #C7C7CC;
    --fallback-s: var(--secondary-color);
}

.text-primary {
    color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.prayer-card {
    border-bottom: 0.75px solid rgba(197, 197, 197, 1);
    padding: 32px 0;
    margin: 0 32px;
    display: grid;
    grid-gap: 8px;
}

.timeline-box .bg-secondary, .prayer-card .bg-secondary {
    background-color: var(--secondary-color);
}

.timeline-middle {
    font-size: 12px;
}

.timeline>li>hr {
    border-width: 1px;
}

.timeline-vertical .timeline-end {
    width: 100%;
}

.speaker-card, .sponsor-card {
    padding: 12px;
    box-shadow: 0px 4px 30px 0px rgba(42, 47, 99, 0.12);
    border-radius: 8px;
}

.speaker-card .speaker-btn , .sponsor-card .sponsor-btn {
    color: rgba(178, 210, 245, 1);

}

.speaker-card .figure {
    width: 75px;
    border-radius: 50%;
}

.sponsor-card .figure {
    max-width: 100px;
    height: 100px;
    background: aliceblue;
}

.speaker-detail-view figure {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    background-color: aliceblue;
}

.session-detail-view figure {
    width: 110px;
    border-radius: 50%;
    margin-right: 24px;
}

.session-detail-view .session-card {
    color: rgba(57, 57, 60, 1);

}

.speaker-detail-view .speaker-detail-body {
    background-color: #ffffff;
    margin-top: -100px;
    padding: 116px 24px;
    text-align: center;
    color: rgba(57, 57, 60, 1);
}

.sponsor-detail-view figure {
    width: 156px;
    margin: auto;
    overflow: hidden;
}

.sponsor-social-links a {
    margin-right: 16px;
}

.h-20-vh {
    height: 20vh;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

body {
    font-family: 'Inter', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #012B59;

}

.card-grid {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 0 24px;
    margin-top: 30px;
}
.btm-nav {
    border-top: 0.4px rgba(0, 0, 0, 0.3);
}

.btm-nav .nav-item {
    font-size: 10px;
    color: #8395b5;
}
.teal {
    background-color: #009688;
    color: white;
}
.full-card {
    width: 100%;
    height: 100%;
}
.filter-green{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.blue-background {
    background: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.white-background {
    background-color: #ffffff;
    border-bottom: 0.33px solid rgba(0, 0, 0, 0.3);
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.flex-container > *:first-child {
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 64px;
}

.flex-container> *:last-child {
    flex: 0;
}
.card{
    margin: 1rem 1rem;
}
.card .speaker-name, .card .sponsor-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}
.card-side {
    align-items: center;
}
.hero-icon {
    margin-right: 6px;
}

.conference-info {
    padding: 12px 42px;
    display: grid;
    grid-gap: 10px;
}

.location-date {
    font-size: 12px;
    font-weight: 500;
    color: #012B59;
}

.h3 {
    font-weight: 500;
    font-size: 16px;
}

.logo-text {
    font-size: 14px;
    margin: 0;
}

.logo-text-text {
    padding: 6px;
}

.custom-card {
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.custom-card.blue {
    background: linear-gradient(120deg, rgba(223,244,243,1) 0%, rgba(219,236,248,1) 71%, rgba(211,227,252,1) 100%);
}

.custom-card.pink {
    background: linear-gradient(128deg, rgba(252,231,227,1) 0%, rgba(239,229,235,1) 71%, rgba(223,223,241,1) 100%);

}

.custom-card.green {
    background: linear-gradient(128deg, rgba(232,246,231,1) 0%, rgba(229,242,233,1) 71%, rgba(223,237,241,1) 100%);
}

.custom-card p {
    font-size: 12px;
    color: #012B59;
}

.w-80-vw {
    width: 80vw;
}

.h-35-vh {
    height: 35vh;
}

.h-70-vh {
    height: 70vh;
}

.bg-aliceblue {
    background-color: aliceblue;
}

.color-light-blue {
    color: #A5C7F3;
}